@charset "utf-8";
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: black;
}

h1, h4 {
  color: white;
  margin-left: 20px;
}

#search {
  float: right;
  width: 500px;
  height: 70px;
  font-size: 56px;
  line-height: 70px;
  margin-right: 20px;

  .twitter-typeahead, input {
    width: inherit;
  }

  .tt-dropdown-menu {
    background: white;
    width: inherit;
  }
}

.card {
  float: left;
  width: 150px;
  height: 275px;

  img {
    width: inherit;
    height: 227px;
    opacity: 0;
    transition: opacity 5s;
  }


  &.loaded {
    img {
      opacity: 1;
    }

    .amount {
      color: white;
    }
  }

  .amount {
    color: black;
    font-family: serif;
    font-size: 24px;
    line-height: 24px;
    height: 24px;
    text-align: center;
    transition: color 5s;
  }
}
