---
title: Welcome to Hearthstone!
---

<header>
  <div id="search">
    <input type="text" id="search" placeholder="Search"></input>
  </div>

  <h1>My Hearthstone Collection</h1>
  <h4>Want to make your own? <a href="https://github.com/bergren2/hearthstone">Fork this repo.</a></h4>
</header>

<div id="loading">
  <div class="progress"></div>
</div>

<div id="cards">
  <% data.collection.each do |name, card_data| %>
    <%= card_tag name, card_data %>
  <% end %>
</div>
